@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.woff'), url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.woff2'), url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.svg'), url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.ttf'), url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.eot');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    padding: 20px;

    #colorWell {
        padding: 0;
        border-width: 2px;
        justify-self: center;
    }
    .change{
        display: flex;
        position: fixed;
        margin: 10px;
        bottom: 0px;
        right: 0px;
        float: right;
        backdrop-filter: blur(10px) hue-rotate(180deg);
        background-color: rgba(255, 255, 255, 0.3);
        align-items: center;
        padding: 10px;
        & > label{
            margin-right: 10px;
        }
    }
}